{% extends '_layouts/base' %}

{% block content %}

<div class="container">
  <div class="page-title richtext">
    <h1 class="h1--page-title">Oops, we couldn't find that page.</h1>
    <p>Start again from the <a href="/" aria-label="404 page link">homepage.</a></p>
  </div>
</div>

{% endblock %}
